.android {
	width: 200px;
	text-align: center;
	border: 2px solid #ccc;
	padding: 20px;
	margin: 40px auto;
	font-size: 20px;
}
.android button {
	margin: 20px 2px 5px;
	font-size: 18px;
	padding: 6px 10px;
	border-radius: 2px;
	outline: none;
	cursor: pointer;
	border: 2px solid lightgrey;
	background: #eee;
}
.android button:hover {
	border: 2px solid yellowgreen;
}
.android input {
	width: 40px;
	margin: 10px 0 10px 5px;
	font-size: 16px;
}
